


# .env file
PROJECT_NAME="Unbreakable Eye"
LOG_LEVEL=INFO

# --- INPUT ---
# Use '0' to test with your laptop webcam immediately.
# Or put a real RTSP URL here.
RTSP_URL=data/cr-mini.mp4 

# --- MODEL ---
# MODEL_ID=person-detection-retail-0013.xml
# MODEL_ARCH=openvino

# MODEL_ID=yolox_m.onnx
# MODEL_ARCH=yolox
# (1, 8400, 85)

# MODEL_ID=dfine_s_coco-ONNX
# MODEL_ARCH=onnx-community

# MODEL_ID=yolo11n_512_512_batch_1_nms_False_device_cpu_half_False.onnx
# MODEL_ID=yolo11n.onnx
# MODEL_ID=yolo12n.onnx
# MODEL_ID=yolo11s.onnx
# MODEL_ID=yolo11s-pose.onnx
# MODEL_ID=yolo12l.onnx
# MODEL_ID=yolo12m.onnx
# MODEL_ID=yolo11m-pose.onnx
MODEL_ID=yolo12s.onnx
# MODEL_ID=yolo11n-pose.onnx
MODEL_ARCH=yolo_onnx

# --- THRESHOLDS ---
CONF_THRESHOLD=0.2
IOU_THRES=0.4

SECRET_KEY=change-me-to-a-random-64-char-string
DB_PATH=data/db/surveillance.db

FEATURE_EXTRACTOR_MODEL=models/osnet.onnx

REID_THRESHOLD=0.45
DIVERSITY_THRESHOLD=0.25

WORKING_HEIGHT=512
WORKING_WIDTH=512

NATIVE_HEIGHT=1080
NATIVE_WIDTH=1920





# MODEL_ID=rfdetr_small-ONNX
# MODEL_ARCH=onnx-community


# MODEL_ID=yolov8n.pt
# MODEL_ID=yolo11n.pt
# MODEL_ID=yolo11n.onnx
# MODEL_ARCH=ultralytics
FRAME_SIZE=416

# --- HARDWARE ---
DEVICE=cpu  # Keep CPU for first test to avoid driver issues
